/* Estátua */
/* Lado Esquerdo */
.pira {
  fill: orange;
  animation: desabamento-esq 10s forwards;
}
.batata_perna-esq {
  fill: white;
}
.pe-esq {
  fill: white;
}
.braco-esq {
  fill: white;
  animation: desabamento-esq 10s forwards;
}
.ante_braco-esq {
  fill: white;
  animation: desabamento-esq 9s forwards;
}
.coxa-esq {
  fill: white;
  animation: desabamento-esq 4s forwards;
}

/* Lado Direito */
.peito {
  fill: white;
  animation: desabamento-esq 8s forwards;
}
.batata_perna-dir {
  fill: white;
  animation: desabamento-dir 9s forwards;
}
.pe-dir {
  fill: white;
}
.coxa-dir {
  fill: white;
  animation: desabamento-dir 8s forwards;
}

/* Cabeça */
.cabeca {
  position: fixed;
  fill: white;
}
.rosto {
  fill: white;
  stroke: rgb(102, 102, 102);
}
.olho-esq {
  fill: rgb(102, 102, 102);
}
.cabelo {
  stroke: rgb(102, 102, 102);
  fill: white;
}
.olho-dir {
  fill: rgb(102, 102, 102);
}
.base {
  position: relative;
  z-index: 100;
  fill: rgb(102, 102, 102);
  stroke: 2px rgb(66, 66, 66);
}
.pelvis {
  stroke: rgb(102, 102, 102);
  fill: white;
  animation: desabamento-dir 10s forwards;
}
.braco-dir {
  fill: white;
  animation: desabamento-dir 10s forwards;
}
.stroke-rosto {
  stroke: rgb(102, 102, 102);
}


@keyframes desabamento-esq {
  60%{
    transform: rotate(-50deg);
    fill: rgb(194, 194, 194);
  }
}
@keyframes desabamento-dir {
  60%{
    transform: rotate(50deg);
    fill: rgb(194, 194, 194);
  }
}