
body {
    margin : 0;
    background-color: rgb(253, 251, 251);
}

header {
    background-color: rgb(243, 73, 107);
    width: 100%;
    position: fixed;
    top: 0;
}

.titulo {
    margin-top: 15px;
    text-align: center;
}

.titulo h1 {
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
    color: white;
}

.titulo h2 {
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    color: white;
}

.menu {
    text-align: right;
    padding: 15px;
}

.menu a {
    border-style: solid;
    border-radius: 8px;
    border-width: 1px;
    border-color: crimson;
    text-decoration: none;
    color: white;
    padding: 5px 35px;
    margin-left: 20px;
}

.menu a:hover {
    border-color: rgb(4, 56, 109);
    background-color: dodgerblue;
}

main {
    margin-top: 150px;
    margin-right: 15px;
    margin-bottom: 15px;
    margin-left: 15px;
}

.sectionListas {
    text-align: justify;

}

.sectionListas::after {
    content: '';
    display: inline-block;
    width: 100%;
}

.divEspassador {
    display: inline-block;
}

.divListas {
    display: inline-block;
    width: 200px;
    vertical-align: top;

}

.divListas ol , .divListas ul {
    background-color: rgb(111, 178, 245);
    border-radius: 8px;
    border-color: rgb(12, 100, 189);
    border-width: 1px;
    border-style: solid;
    margin: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 25px;

}

.img {
    width: 230px;
    border-style: solid;
    border-radius: 20px;
    border-width: 1px;
    border-color: rgb(12, 100, 189);
    display: inline-block;
}

.quebraLinha {
    display: inline-block;
    width: 100%;
    font-size: 0px;
    line-height: 0px;
}

.conteudo::after {
    content: '';
    display: inline-block;
    width: 100%;
}

.divArtigo{
    width: 100%;
    float: left;
    margin-right: -232px;
    text-align: justify;
}

.artigo {
    padding: 15px;
    margin-right: 232px;
    color: dodgerblue;
}

.artigo h3 {
    color: rgb(12, 100, 189);
}

.aside {
    background-color: rgb(243, 73, 107);
    color: white;
    padding: 15px;
    width: 200px;
    float: right;
    border-style: solid;
    border-color: crimson;
    border-width: 1px;
}

.tabela {
    align-content: center;
}

table {
    width: 400px;
}

th {
    text-align: center;
    background-color: rgb(243, 73, 107);
    color: white;
}

table, tr , th, td{
    border-color: crimson;
    border-style: solid;
    border-width: 1px;
    border-collapse: collapse;
}

footer {
    background-color: rgb(48, 48, 48);
    color: rgb(8, 8, 8);
    text-align: center;
    line-height: 250px;
    height: 250px;
}
