body {
  position: relative;
  top: 200px;
  background-color: rgb(253, 251, 251);
}

#titulo {
  font-size: 30px;
  font-family: monospace;
  color: rgb(253, 251, 251);
  line-height: 30px;
}

#cabecalho {
  position: fixed;
  top: 0px;
  background-color: rgb(0, 159, 253);
  margin: 0px;
  border: solid 10px rgb(42, 42, 114);
  padding: 40px;
  width: 100%;
  font-size: 15px;
}

.navegacao {
  background-color: rgb(253, 251, 251);
}

#minha_foto {
  display: block;
  margin: 0px 0px;
  border-radius: 50%;
}

.aprendido,
.aprender {
  display: inline-block;
  width: 30%;
  background-color: rgb(255, 164, 0);
}

.aprendizado {
  padding: 20px 0px;
}

.lado-esquerdo {
  display: inline-block;
  width: 55%;
}

.lado-direito {
  margin: 0px 10px;
  width: 40%;
  padding-left: 0.5rem;
  margin-left: 0.5rem;
  float: right;
  box-shadow: inset 10px 0 20px -10px rgb(42, 42, 114);
  font-style: italic;
  color: rgb(41, 98, 126);
}

table {
  border: solid 5px rgb(42, 42, 114);
  margin: 10px auto;
  font-size: 10px;
}

footer {
  text-align: center;
  padding: 5px;
  background-color: rgb(0, 159, 253);
  color: rgb(253, 251, 251);
}
