* {
  margin: 0;
}

body {
  background-color: rgb(253 , 251 , 251);
  font: 500 20px Archive, sans-serif;
  line-height: 28px;
  color: rgb(253 , 251 , 251);
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 20px;
  margin: auto;
  border: 3px solid rgb(37 , 37 , 37);
  background-color: rgb(37 , 37 , 37);
  text-align: center;
}

nav {
  background-color: rgb(70 , 70 , 70);
  margin-top: 20px;
  width: 100%;
  padding: 5px;
  border-radius: 10px;
}

a {
  text-decoration: none;
  display: inline-block;
  padding: 10px;
  margin-top: auto;
  color: rgb(253 , 251 , 251);
  border-radius: 10px;
}

a:hover {
  background-color: rgb(112 , 112 , 112);
}

.container {
  margin: auto;
  padding: 200px;
  max-width: 1080px;
  background-color: rgb(70 , 70 , 70);
  overflow: auto;
}

.dados {
  background-color: rgb(112 , 112 , 112);
  border: 3px solid rgb(253 , 251 , 251);
  border-radius: 10px;
  padding: 20px;
  max-width: 620px;
  margin-bottom: 10px;
}

table {
  margin-left: 35px;
  margin-bottom: 35px;
  display: inline-block;
}

td {
  border: 3px solid rgb(253 , 251 , 251);
  border-radius: 10px;
  padding: 5px;
  text-align: center;
}

img {
  border: 3px solid rgb(253 , 251 , 251);
  border-radius: 10px;
  margin-bottom: 10px;
  display: inline-block;
}

h2 {
  margin-bottom: 10px;
}

h3 {
  margin-bottom: 10px;
}

ol {
  display: inline-block;
  background-color: rgb(112 , 112 , 112);
  border: 3px solid rgb(253 , 251 , 251);
  min-width: 220px;
  border-radius: 10px;
  padding: 30px;
}

ul {
  display: inline-block;
  background-color: rgb(112 , 112 , 112);
  border: 3px solid rgb(253 , 251 , 251);
  min-width: 220px;
  border-radius: 10px;
  padding: 30px;
}

.lado-esquerdo {
  display: inline-block;
  max-width: 500px;
  max-height: 240px;
  min-width: 165px;
  min-height: 200px;
  background-color: rgb(112 , 112 , 112);
  border: 3px solid rgb(253 , 251 , 251);
  border-radius: 10px;
  padding: 30px;
  overflow: auto;
  text-align: justify;
}

.lado-direito {
  display: inline-block;
  max-width: 300px;
  max-height: 240px;
  min-width: 165px;
  min-height: 200px;
  background-color: rgb(112 , 112 , 112);
  border: 3px solid rgb(253 , 251 , 251);
  border-radius: 10px;
  padding: 30px;
  overflow: auto;
  text-align: justify;
}
