body {
  background-color: rgb(253 , 251 , 251);
}

h2 {
  color: black;
}

h3 {
  color: black;
}

li {
  color: black;
}

p {
  color: black;
}

.botao {
  list-style-type: none;
  display: inline-block;
}

#cabecalho {
  position: fixed;
  top: 0;
  right: 20%;
  float: right;
  background-color: white;
}

#minha_foto {
  border-radius: 35%;
  width: 250px;
  margin-left: 70px;
  padding: 0;
}

#titulo {
  color: black;
  text-align: center;
  float: right;
}

#rodape {
  width: 700px;
  text-align: center;
  margin-left: 50px;
  font-size: 20px;
}

.apresentacao {
  width: 500px;
  text-align: center;
  font-size: 25px;
  font-weight: 600;
  display: inline-block;
  vertical-align: top;
  margin-top: 110px;
}

.bloco-topo {
  background-color: black;
  color: black;
}

.bloco-texto {
  padding: 15px 60px;
  border-top: 1px solid gray;
  font-size: 20px;
}

.bloco-final {
  width: 700px;
  text-align: center;
  margin-left: 60px;
}

.titulo-licoes-aprendidas {
  text-align: center;
  display: inline-block;
  vertical-align: middle;
}

.titulo-licoes_a_aprender {
  text-align: right;
  display: inline-block;
  vertical-align: top;
  padding: 0 15px;
}

.licoes-esquerdo {
  width: 300px;
  float: left;
  display: inline-block;
  padding: 15px 0;
  margin-left: 100px;
}

.licoes-direito {
  width: 300px;
  display: inline-block;
  padding: 15px 0;
}

.secao-fundo {
  width: 300px;
  float: left;
  display: inline-block;
}

.secao-texto {
  width: 250px;
  text-align: center;
  display: inline-block;
  padding: 10px 60px;
  margin-left: 60px;
  font-size: 20px;
}

.secao-extra {
  width: 250px;
  text-align: center;
  display: inline-block;
  vertical-align: top;
  padding: 10px 50px;
  font-size: 20px;
}
