body {
    background-color: rgb(253, 251, 251);
    margin: 0;
}

/*------Cabeçalho------*/
header {
    position: fixed;
    top: 0px;
    width: 100%;

    text-align: center;
    background-color: burlywood;
}
/*---------------------*/

/*------Minha-Foto-----*/
.perfil {
    padding: 15px;
    margin-top: 80px;
    background-color: cadetblue;
}

#minha_foto {
    margin: 15px;
}
/*---------------------*/

/*------Lições---------*/
#licoes_aprendidas {
    padding: 15px;
    background-color: green;
}
/*---------------------*/