body {
  background-color: rgb(253 , 251 , 251);
  margin: 0;
  font-family: Courier New, Courier, monospace;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgb(60 , 136 , 126);
  color: white;
}

.navigation {
  padding: 0;
}

.navigation ul {
  background-color: rgb(130 , 212 , 187);
  padding: 0;
  margin-bottom: 0;
}

.navigation ul li {
  display: inline;
  padding: 0;
  font-weight: 600;
}

.navigation ul li a {
  color: white;
  text-decoration: none;
  display: inline-block;
  padding: 10px;
}

.navigation ul li a:hover {
  background-color: rgb(130 , 172 , 159);
}

.header h1 {
  text-align: center;
}

.section-main {
  padding: 15px;
}

.section-img {
  margin-top: 130px;
  text-align: center;
}

.section-img img {
  width: 300px;
  border-radius: 100%;
}

.table {
  width: 100%;
  padding: 15px;
  margin-top: 15px;
  border: double rgb(130 , 212 , 187);
  border-radius: 10%;
}

.section-lessons {
  margin-top: 30px;
}

.section-lessons h2 {
  border: solid rgb(60 , 136 , 126);
  text-align: center;
}

.second-title {
  margin: 15px;
  border: solid rgb(60 , 136 , 126);
  text-align: center;
}

.lado-esquerdo {
  padding: 15px;
  line-height: 20px;
  display: inline-block;
  max-width: 40%;
  text-align: center;
}

.lado-direito {
  padding-bottom: 10px;
  padding-right: 10px;
  padding-left: 10px;
  line-height: 20px;
  display: inline-block;
  max-width: 40%;
  border: 5px dotted rgb(60 , 136 , 126);
  text-align: center;
}

.footer {
  font-weight: 600;
  font-style: italic;
  font-size: 13px;
  padding-left: 8px;
  padding-top: 3px;
  margin-bottom: 8px;
  margin-top: 50px;
  background-color: rgb(232 , 237 , 223);
}

.footer .section-links img {
  width: 60px;
  display: inline-block;
}
