h2{
    margin-left: 50px;
    font-family: sans-serif Georgia, 'Times New Roman', Times, serif;
    color:rgb(253, 251, 251);
    
}

p{
    margin-left: 50px;
    font-family: sans-serif Georgia, 'Times New Roman', Times, serif;
    color:rgb(253, 251, 251);
}
/* FUNDO */
body{
    min-height:1366px;
    font-family:Arial;
    background-color: rgb(253 , 251 , 251);
}
/* CABEÇALHO */
  #cabecalho{
    display:block;
    position:fixed;
    top:0;
    left:0;
    width:100%; 
    background-color: rgb(40, 100,40);
    text-align: center;
    height: 200px;

}


#titulo{
    font-family: sans-serif Georgia, 'Times New Roman', Times, serif;
    color:rgb(253, 251, 251);
    margin-top: 60px;
} 

/* MENU NAVEGAÇÃO */
#menu_nav{
    margin:0px;
    top:200px;
    display:block;
    position:fixed;
    text-align: center;
    height: 50px;
    width:100%; 
    background-color: rgb(137, 189, 137)

}

#menu_nav ul{
    margin:0px;
    padding-top: 10px;
    list-style: none;
    padding-top: 10px;
}

#menu_nav ul li{
    display: inline;
}
#menu_nav ul li a{

    color: white;
    text-decoration: none;  
    background-color:  rgb(137, 189, 137);
    padding: 10px 50px 22px 50px;
    text-align: center;	
}
#menu_nav ul li a:hover{
    color: white;
    text-decoration: none;  
    background-color:  rgb(67, 134, 67);
    padding: 10px 50px 22px 50px;
    text-align: center;	
    }   

    /* CORPO */

#container{
    width: 100%;
    margin-top:00%;
    float: left;
    margin:auto;
    background-color: rgb(225, 238, 225);  
}

#sobre{
    
    background-color: rgb(248, 255, 248);
    width:50%;
    height: 900px;
    float: left;

}

#minha_foto{
    margin-top: 260px;
    border:8px rgb(40, 100,40);
    border-style: ridge;
    
}

#aprendidas{
    background-color: rgb(155, 183, 187);
    float: left;
    width: 50%;
    height: 260px;
    list-style: decimal;
}

#aprender{
    background-color: rgb(132, 187, 197);
    float: left;
    width: 50%; 
    height:260px;
    list-style-type: decimal;
}  
#licoes_aprendidas{
    list-style-type: decimal;

}
#licoes_a_aprender{    
    list-style-type: decimal;   
}


/* ASIDE */

aside{
    top:700px;  
    background-color: red;
    width:50%;
    height: 943px;
    float: right;
    }

#artigo{
    float: left;
    margin-top: 242px;
    background-color: rgb(155, 183, 187);
    width: 100%;
    height: 220px;    
    
    }
#sessao{
    float: left;
    background-color: rgb(155, 183, 187);
    width: 100%;
    height: 220px;    
    }
#dados{
    float: left;
    padding-top: 50px;
    background-color: rgb(137, 189, 137);
    width: 100%;
    height: 212px;    
    }

table{
    border:1px;
    color:rgb(253 , 251 , 251)
}
tr{
    color:rgb(253 , 251 , 251)
}


    /* RODAPE */

    #rodape{
       position: absolute;
        width:100%;
        height: 100px;
        bottom:0;
        left:0;
        
        text-align:center;
      }